# https://help.github.com/articles/about-codeowners/
#
# last match wins, so put more specific matches towards the end

*                   @OISF/core-team
rust/*              @victorjulien @jasonish
src/source-*        @regit
doc/*               @norg
src/detect-engine*  @victorjulien
*ssl*               @thus @OISF/core-team
*tls*               @thus @OISF/core-team
*nfs*               @victorjulien
*dns*               @jasonish
*ntp*               @chifflier

*prelude*           @ToToL

*napatech*          @psanders240



