# https://help.github.com/articles/about-codeowners/
#
# last match wins, so put more specific matches towards the end

*                   @OISF/core-team
rust/**             @victorjulien @jasonish
src/source-*        @regit
doc/**              @norg
src/detect-engine*  @victorjulien
src/*ssl*           @thus @OISF/core-team
src/*tls*           @thus @OISF/core-team

src/*nfs*           @victorjulien
rust/src/nfs/*      @victorjulien

src/*dns*           @jasonish
rust/src/dns/*      @jasonish

src/*ntp*           @chifflier
rust/src/ntp/*      @jasonish

src/*prelude*       @ToToL

src/*napatech*      @psanders240

.github/            @victorjulien

