*                   @OISF/core-team
rust/*              @victorjulien @jasonish
src/source-*        @regit
doc/*               @norg
src/detect-engine*  @victorjulien
*ssl*               @thus @OISF/core-team
*tls*               @thus @OISF/core-team
*nfs*               @victorjulien
*dns*               @jasonish

*prelude*           @ToToL

*napatech*          @psanders240



