*.o
*.lo
*.in
*.[ch]e
*.log
*.rule
*.rules
*.pcap
*.pcapng
/suricata.yaml
Makefile
.deps/
.libs/
*~
m4/
TAGS
aclocal.m4
autoconf.h
autom4te.cache/
build/*
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
doc/userguide/suricata.1
etc/suricata.logrotate
etc/suricata.service
install-sh
libhtp/TAGS
libhtp/aclocal.m4
libhtp/autom4te.cache/
libhtp/config.h
libhtp/config.log
libhtp/config.status
libhtp/configure
libhtp/htp.pc
libhtp/htp/TAGS
libhtp/htp/libhtp.la
libhtp/libtool
libhtp/stamp-h1
libhtp/test/TAGS
libtool
ltmain.sh
missing
qa/log/
qa/coccinelle/struct-flags.cocci
rust/*/target/*
scripts/suricatasc/build/*
scripts/suricatasc/src/__pycache__/*
src/*.diff
src/*.patch
src/*.rej
src/*.orig
src/*.plist/*
src/TAGS
src/suricata
stamp-h1
src/build-info.h
test.sh
.vscode/*
/suricata-update/*
!/suricata-update/Makefile.am
