[submodule "suricata-verify"]
	path = suricata-verify
	url = git@github.com:rtkwlf/suricata-verify.git
	branch = awn-suricata-verify-6.0.17
[submodule "libhtp"]
	path = libhtp
	url = git@github.com:rtkwlf/libhtp-awn.git
	branch = 0.5.47-awn
