*.o
*.lo
*.in
*.[ch]e
*.log
*.rule
*.rules
*.yaml
Makefile
.deps/
.libs/
*~
m4/
TAGS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
libhtp/TAGS
libhtp/aclocal.m4
libhtp/autom4te.cache/
libhtp/config.h
libhtp/config.log
libhtp/config.status
libhtp/configure
libhtp/htp.pc
libhtp/htp/TAGS
libhtp/htp/libhtp.la
libhtp/libtool
libhtp/stamp-h1
libhtp/test/TAGS
libtool
ltmain.sh
src/*.diff
src/*.patch
src/*.rej
src/*.orig
src/TAGS
src/suricata
stamp-h1
src/build-info.h
qa/log/
