# Specify libhtp and suricata-update requirements.
#
# Format:
#
#   name {repo} {branch|tag}
libhtp https://github.com/OISF/libhtp 0.5.x
suricata-update https://github.com/OISF/suricata-update 1.3.7
