# config reference: system URL

#
# Note: https// used
##############################
# Referenced by ET/Open ET/Pro
##############################

#  resolves, works as intended
config reference: cve       https://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nessus    https://www.tenable.com/plugins/nessus/
config reference: url       https://

#whitehats is unfortunately gone
#
#  no longer resolves
config reference: McAfee    https://vil.nai.com/vil/content/v_
config reference: bid	    https://www.securityfocus.com/bid/
config reference: bugtraq   https://www.securityfocus.com/bid/
config reference: md5	    https://www.threatexpert.com/report.aspx?md5=

#  resolves, but non-useful page
config reference: secunia   https://www.secunia.com/advisories/
config reference: arachNIDS https://www.whitehats.com/info/IDS

###################################################
# No longer referenced from ET/Open ET/Pro rulesets
###################################################

#  resolves
config reference: exploitdb https://www.exploit-db.com/exploits/
config reference: msft      https://technet.microsoft.com/security/bulletin/

#  resolves, but non-useful page
config reference: et        https://doc.emergingthreats.net/
config reference: etpro     https://doc.emergingthreatspro.com/
config reference: telus     https://

#  no longer resolves
config reference: xforce    http://xforce.iss.net/xforce/xfdb/
config reference: osvdb     http://osvdb.org/show/osvdb/
config reference: threatexpert http://www.threatexpert.com/report.aspx?md5=
config reference: openpacket https://www.openpacket.org/capture/grab/
config reference: securitytracker http://securitytracker.com/id?
