name: builds

on:
  push:
    paths-ignore:
      # Don't run this workflow if only files under doc/ have been
      # modified.
      - "doc/**"
      - "etc/schema.json"
  pull_request:
    paths-ignore:
      # Don't run this workflow if only files under doc/ have been
      # modified.
      - "doc/**"
      - "etc/schema.json"
  workflow_dispatch:
    inputs:
      SU_REPO:
      SU_BRANCH:
      SV_REPO:
      SV_BRANCH:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

env:
  DEFAULT_CFLAGS: "-Wall -Wextra -Werror -Wno-unused-parameter -Wno-unused-function"

  # Apt sometimes likes to ask for user input, this will prevent that.
  DEBIAN_FRONTEND: "noninteractive"

  # A recent version of stable Rust that is known to pass build, test and other
  # verification steps in this workflow. This was added because using "stable"
  # could cause some steps to fail.
  RUST_VERSION_KNOWN: "1.93.0"

jobs:

  prepare-deps:
    name: Prepare dependencies
    uses: ./.github/workflows/prepare-deps.yml

  prepare-cbindgen:
    name: Prepare cbindgen
    runs-on: ubuntu-latest
    steps:
      - name: Cache ~/.cargo
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          path: ~/.cargo
          key: ${{ github.job }}-cargo
      - name: Installing Rust
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          rustup target add x86_64-unknown-linux-musl
      - name: Building static cbindgen for Linux
        run: |
          cargo install --target x86_64-unknown-linux-musl --debug cbindgen
          cp $HOME/.cargo/bin/cbindgen .
      - name: Uploading prep archive
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: cbindgen
          path: .

  fedora-43-sv-codecov:
    name: Fedora 43 (Suricata Verify codecov)
    runs-on: ubuntu-latest
    container: fedora:43
    needs: [prepare-deps, prepare-cbindgen]
    steps:

      # Cache Rust stuff.
      - name: Cache cargo registry
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          path: ~/.cargo/registry
          key: cargo-registry

      - name: Determine number of CPUs
        run: echo CPUS=$(nproc --all) >> $GITHUB_ENV

      - run: |
          dnf -y install \
                autoconf \
                automake \
                awk \
                cbindgen \
                ccache \
                clang \
                curl \
                diffutils \
                file-devel \
                gcc \
                gcc-c++ \
                git \
                gpg \
                hwloc \
                hwloc-devel \
                hiredis-devel \
                jansson-devel \
                jq \
                libasan \
                libtool \
                libyaml-devel \
                libnfnetlink-devel \
                libnetfilter_queue-devel \
                libnet-devel \
                libcap-ng-devel \
                libevent-devel \
                libmaxminddb-devel \
                libpcap-devel \
                libtool \
                llvm-devel \
                lz4-devel \
                make \
                pcre2-devel \
                pkgconfig \
                python3-yaml \
                sudo \
                which \
                zlib-devel
      - run: |
          dnf clean all
      # packaged Rust version has no profiler support built in, so get from rustup
      - name: Install Rust
        run: curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain 1.86.0 -y
      - run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./.github/actions/install-cbindgen
      - run: git config --global --add safe.directory /__w/suricata/suricata
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: prep
          path: prep
      - run: tar xf prep/suricata-update.tar.gz
      - run: ./autogen.sh
      - run: RUSTC_WRAPPER="$(pwd)/scripts/rustc.py" ./configure --enable-warnings --disable-shared
        env:
          CC: "clang"
          RUSTFLAGS: "-Cinstrument-coverage"
          CFLAGS: "-fprofile-instr-generate -fcoverage-mapping -O0"
      - run: RUSTC_WRAPPER="$(pwd)/scripts/rustc.py" make -j ${{ env.CPUS }}
        env:
          CC: "clang"
          RUSTFLAGS: "-Cinstrument-coverage"
          CFLAGS: "-fprofile-instr-generate -fcoverage-mapping -O0"
      - name: Extracting suricata-verify
        run: tar xf prep/suricata-verify.tar.gz
      - run: rm -r prep
      - name: Running suricata-verify
        run: python3 ./suricata-verify/run.py -q --debug-failed --aggressive-cleanup
      - run: llvm-profdata merge -o default.profdata $(find suricata-verify/tests/ -name '*.profraw')
      - run: llvm-cov show ./src/suricata -instr-profile=default.profdata --show-instantiations --ignore-filename-regex="^/root/.*" > coverage.txt
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          fail_ci_if_error: false
          flags: suricata-verify
