# CIFuzz did not support fuzzing of branch main7 well
name: ClusterFuzzLite

on:
  pull_request:
    paths-ignore:
      - "doc/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all
jobs:
 Fuzzing:
   runs-on: ubuntu-latest
   strategy:
     fail-fast: false
     matrix:
       sanitizer: [address]
   steps:
   - name: Clear unnecessary files
     run: |
        df
        sudo apt clean
        sudo rm -rf /usr/share/dotnet/ /usr/share/swift /usr/local/.ghcup/ /usr/local/share/powershell /usr/local/share/chromium /usr/local/lib/android /usr/local/lib/node_modules
        df
   - name: Build Fuzzers (${{ matrix.sanitizer }})
     id: build
     uses: google/clusterfuzzlite/actions/build_fuzzers@v1
     with:
       language: rust
       github-token: ${{ secrets.GITHUB_TOKEN }}
       sanitizer: ${{ matrix.sanitizer }}
   - name: Run Fuzzers (${{ matrix.sanitizer }})
     id: run
     uses: google/clusterfuzzlite/actions/run_fuzzers@v1
     with:
       github-token: ${{ secrets.GITHUB_TOKEN }}
       fuzz-seconds: 600
       mode: 'code-change'
       sanitizer: ${{ matrix.sanitizer }}
       output-sarif: true
