name: "Nix Env Build"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-24.11
    - run: nix-shell --run ./scripts/bundle.sh
    - run: nix-shell --run ./autogen.sh
    - run: nix-shell --run "./configure CC=clang"
    - run: nix-shell --run make
    - run: nix-shell --run "src/suricata -V"
    - run: nix-shell --run "make compile-commands"
    - run: nix-shell --run "make compile-commands"
